<script type="text/javascript">

 /* Options for the GeoLocation API */
 var geoopts = {
	 enableHighAccuracy: true,
	 timeout: 5000,
	 maximumAge: 0
 };

 var text_color = "rgba(0,255,0,1.0)";
 var text_font = "12pt Verdana";
 var radar_color = "rgba(0,255,0,0.6)";
 var radar_color_north = "rgba(255,0,0,0.6)"; 

 /* Timer */
 var _st = null;
 // Window width & height
 var width;
 var height;
 // Current coordinates
 var coords = null;
 // Ajax
 var ajax = new Ajax();

 // points
 var points = new Array();
 var found = new Array();

 // For animation
 var savedr = 0;

 /*
	* Convert degree in a float value to a printable string format
	*/
 function deg2str(deg) {
	 var a;
	 var b;
	 var c;
	 var str;
	 
	 a = deg;
	 if ( deg > 0 ) {
		 b = (a - parseInt(a)) * 60;
	 } else {
		 b = (parseInt(a) - a) * 60;
	 }
	 c = (b - parseInt(b)) * 60;
	 str = parseInt(a)+"°"+parseInt(b)+"'"+parseInt(c)+"''";

	 return str;
 }

 /*
	* Update points
	*/
 function updatePoints()
 {
	 var lamf = function(res) {
		 var restext = res.responseText;
		 if ( 200 == res.status ) {
			 var jsonobj = null;
			 if ( JSON && JSON.parse ) {
				 jsonobj = JSON.parse(restext);
			 } else {
				 jsonobj = eval('('+restext+')');
			 }
			 localStorage.setItem("points", restext);
			 points = jsonobj;
		 }
	 }
	 var req = '{}'+"\n";
   ajax.request(lamf, req, 'GET', "./points.json");
 }

 /*
	* EventHandler: Called when the location is updated
	*/
 function onLocationUpdate(loc)
 {
	 coords = loc.coords;

	 // Check within 10m
	 for ( var k in points ) {
		 var lat = coords.latitude - points[k].latitude;
		 var long = coords.longitude - points[k].longitude;
		 /* about 50m */
		 if ( lat < 0.0005 && lat > -0.0005
			 && long < 0.0005 && long > -0.0005 ) {
				 if ( found.indexOf(points[k].id.toString()) < 0 ) {
					 alert("Get " + points[k].name + "!");
					 found.push(points[k].id.toString());
					 localStorage.setItem("found", found.join());
				 }
		 }
	 }

 }

 /*
	* EventHandler: Called when the location update is failed
	*/
 function onLocationUpdateError(error)
 {
	 switch ( error.code ) {
		 case error.POSITION_UNAVAILABLE:
			 alert("Geolocation is unavailable");
			 break;
		 case error.PERMISSION_DENIED:
			 alert("Geolocation: permission denied");
			 break;
		 case error.PERMISSION_DENIED_TIMEOUT:
			 alert("Geolocation: timeout");
			 break;
	 }
 }

 /*
	* EventHandler: Called when the compass is updated
	*/
 function onCompassUpdate(e)
 {
	 var alpha;
   // Check for iOS property
   if( e.webkitCompassHeading ) {
     alpha = event.webkitCompassHeading;
		 alpha = alpha - 90;
		 alpha = - alpha;
     //Rotation is reversed for iOS
   }
   // non iOS
   else {
     alpha = event.alpha;
	 }
	 
   var heading = alpha;
   var res = document.getElementById("res");
	 var comp = document.getElementById("canvas01");
   if ( heading < 0 ) {
		 heading += 360;
	 }
   res.innerHTML = 'Heading : ' + heading
								 + '<br />Accuracy : ' + e.webkitCompassAccuracy;
   //comp.style.webkitTransform = 'rotate('+(heading)+'deg)';
 }

 /*
	* EventHandler: Called when a node in the canvas is clicked
	* The callee reports the clicked position in the x and y arguments.
	*/
 function onClickCanvas(x, y)
 {
	 var cx = width / 2;
	 var cy = height / 2;
	 var radius = cx > cy ? cy : cx;

	 if ( coords ) {
		 for ( var k in points ) {
			 var lat = coords.latitude - points[k].latitude;
			 var long = coords.longitude - points[k].longitude;

			 if ( found.indexOf(points[k].id.toString()) >= 0 ) {
				 continue;
			 }

			 if ( (cx + lat * radius - 20 < x && cx + lat * radius + 20 > x)
					 && (cy + long * radius - 20 < y && cy + long * radius + 20 > y) ) {
						 alert(points[k].description + "\n @ " + deg2str(points[k].longitude) + " / " + deg2str(points[k].latitude));
			 }
		 }
	 }
 }
 
 /*
	* EventHandler: Called when loaded
	*/
 window.addEventListener('load', function() {
	 /* Request to update points */
	 updatePoints();

	 /* Read the stored point data from the local storage using storage API */
	 if ( typeof(Storage) !== "undefined" ) {
		 var jsonobj;
		 var str = localStorage.getItem("points");
		 if ( JSON && JSON.parse ) {
			 jsonobj = JSON.parse(str);
		 } else {
			 jsonobj = eval('('+str+')');
		 }
		 points = jsonobj;

		 str = localStorage.getItem("found");
		 if ( str ) {
			 found = str.split(",")
		 }
	 } else {
		 alert("Sorry, Storage API is not supported.");
		 return;
	 }

	 /* Get window size and update the canvas */
   width = Window.getWindowSize().width;
   height = Window.getWindowSize().height;
	 $('canvas01').width = width;
   $('canvas01').height = height;
	 $('canvas02').width = width;
   $('canvas02').height = height;
   $('canvas02').style.backgroundColor = 'black';

	 /* Add event listener to the canvas */
   $('canvas01').addEventListener('click', function(e){
     onClickCanvas(e.clientX, e.clientY);
	 }, false);

   if ( navigator.geolocation ) {
		 /* Add event lister for geolocation */
		 navigator.geolocation.watchPosition(onLocationUpdate, onLocationUpdateError,
																				 geoopts);

		 /* Get the current location */
     navigator.geolocation.getCurrentPosition(
       function (loc) {
         coords = loc.coords;
       },
       function (error) {
         switch ( error.code ) {
           case error.POSITION_UNAVAILABLE:
             alert("Geolocation is unavailable");
             break;
           case error.PERMISSION_DENIED:
             alert("Geolocation: permission denied");
             break;
           case error.PERMISSION_DENIED_TIMEOUT:
             alert("Geolocation: timeout");
             break;
         }
       }
     );
   } else {
     alert("Geolocation API is not supported.");
		 return false;
   }
	 
	 /* Add event listener for compass (to watch the orientation changes) */
	 if ( window.DeviceOrientationEvent ) {
		 window.addEventListener('deviceorientation', onCompassUpdate, false);
	 }

	 /* Finally, start the animation */
	 animation();
 }, false);

 /*
  * Draw the canvas
	*/
 function drawShot()
 {
	 /* Center of the screen */
	 var cx = width / 2;
	 var cy = height / 2;
	 /* Calculate the maximum radius fitting to the screen */
	 var radius = cx > cy ? cy : cx;

	 /* Get the context of the radar canvas */
	 var ctx = $('canvas01').getContext("2d");

	 // Draw 10 circles
	 ctx.strokeStyle = radar_color;
	 ctx.lineWidth = 2;
	 var i;
	 for ( i = 0; i <= 10; i++ ) {
		 ctx.beginPath();
		 ctx.arc(cx,cy,radius * 0.1 * i,0,Math.PI*2,true);
		 ctx.closePath();
		 ctx.stroke();
	 }

	 /* Draw 12 radial lines */
	 ctx.strokeStyle = radar_color;
	 ctx.lineWidth = 1;
	 for ( i = 0; i < 12; i++ ) {
		 if ( i == 9 ) {
			 /* North */
			 ctx.strokeStyle = radar_color_north;
		 } else {
			 /* Other */
			 ctx.strokeStyle = radar_color;
		 }		 
		 ctx.beginPath();
		 ctx.moveTo(cx, cy);
		 ctx.lineTo(cx + radius * Math.cos(Math.PI / 6 * i),
								cy + radius * Math.sin(Math.PI / 6 * i));
		 ctx.closePath();
		 ctx.stroke();
	 }

	 /* Get the context of textual canvas */
	 var ctx = $('canvas02').getContext("2d");
	 // Text
	 ctx.fillStyle = text_color;
	 ctx.font = text_font;
	 if ( coords ) {
		 var str = deg2str(coords.longitude) + "/" + deg2str(coords.latitude);
		 ctx.fillText(str, cx, cy);
	 }
 }

 /*
	* Animation
	*/
 function animation()
 {
	 /* Background */
	 var ctx = $('canvas01').getContext("2d");
	 /* Text information */
	 var ctx2 = $('canvas02').getContext("2d");

	 /* Increase the saved radius (and loop) */
	 savedr = savedr % 20;
	 savedr += 2;
	 if ( savedr == 2 ) {
		 /* Periodically refresh (clear) the background */
		 ctx.clearRect(0, 0, width, height);
		 ctx2.clearRect(0, 0, width, height);
		 drawShot();

		 var numpoints = 0;
		 if ( coords ) {
			 for ( var k in points ) {
				 var lat = coords.latitude - points[k].latitude;
				 var long = coords.longitude - points[k].longitude;
				 /* about 1km */
				 if ( lat < 0.01 && lat > -0.01
					 && long < 0.01 && long > -0.01 ) {
						 if ( found.indexOf(points[k].id.toString()) < 0 ) {
							 ctx.fillStyle="rgba(255,255,255,1.0)";
							 ctx.font="11pt Verdana";
							 ctx.fillText(points[k].name, cx + lat * radius * 100 + 10, cy + long * radius * 100 + 10);
							 numpoints++;
						 }
				 }
			 }
		 }

		 /* Add the informational text */
		 var ctx = $('canvas02').getContext("2d");
		 ctx.fillStyle="rgba(255,0,0,1.0)";
		 ctx.font = "12pt Verdana";
		 ctx.fillText(numpoints + " spots", width - 100, height - 60);
		 ctx.fillText("     in 1 km", width - 100, height - 45);
	 }

	 /* Red beacon */
	 ctx.strokeStyle="rgba(255,0,0,0.2)";
	 ctx.fillStyle="rgba(255,0,0,0.1)";
	 ctx.lineWidth = 3;

	 var cx = width / 2;
	 var cy = height / 2;
	 var radius = cx > cy ? cy : cx;
	 var numpoints = 0;
	 if ( coords ) {
		 for ( var k in points ) {
			 var lat = coords.latitude - points[k].latitude;
			 var long = coords.longitude - points[k].longitude;
			 /* about 1km */
			 if ( lat < 0.01 && lat > -0.01 && long < 0.01 && long > -0.01 ) {
				 if ( found.indexOf(points[k].id.toString()) < 0 ) {
					 ctx.beginPath();
					 ctx.arc(cx + lat * radius * 100, cy + long * radius * 100, savedr,0,Math.PI*2,true);
					 ctx.closePath();
					 ctx.stroke();
					 ctx.fill();
				 }
			 }
		 }
	 }

	 /* Schedule next frame shot */
	 _st = setTimeout("animation()", 50);
 }
</script>
<!-- Canvas -->
<canvas class="radar" id="canvas02" width="100" height="600"></canvas>
<canvas class="radar" id="canvas01" width="100" height="600"></canvas>

<!-- Information box -->
<div class="infobox" id="res"></div>
